<footer class="flex pr">
    <div class="info">
        <h4>CÔNG TY TNHH DẦU THỰC VẬT DABACO</h4>
        <p>Địa chỉ: Cụm công nghiệp Tân Chi, xã Tân Chi, huyện Tiên Du, tỉnh Bắc Ninh.</p>
        <p>Điện thoại: <a href="tel:0222.222.1888">0222.222.1888</a>. Fax: 0222.222.1998.</p>
        <p>Email: <a href="mailto:info@dabacooil.com.vn">info@dabacooil.com.vn</a></p>
        <p>Website: <a href="www.dabacooil.com.vn">www.dabacooil.com.vn</a>.</p>
    </div>
    <div class="logo">
        <a href=""><img src="./assets/img/logo.png" alt=""></a>
    </div>
</footer>