<header>
    <div class="loading"></div>
    <nav class="navbar">
        <a href="https://thuclfc.gitlab.io/coba-demo/build/the-le.html" title="Thể lệ" class="btn_rule flex-center">Thể lệ</a>
        <h1><a class="logo" href="https://thuclfc.gitlab.io/coba-demo/build/home.html"><img src="./assets/img/logo.png" alt=""></a></h1>
        <a href="https://thuclfc.gitlab.io/coba-demo/build/bang-xep-hang.html" title="bảng xếp hạng" class="btn_bxh flex-center">Bảng xếp hạng</a>
        <div class="user pr">
            <div class="user_action">
                <button type="button" class="dropdown-toggle btn-select"></button>
                <div class="dropdown-menu">
                    <a href="javascript:;" data-toggle="modal" data-target="#popup-register">Đăng ký</a>
                    <a href="javascript:;" data-toggle="modal" data-target="#popup-login">Đăng nhập</a>
                </div>
            </div>
            <div style="display: none" class="user_logged pr">
                <button type="button" class="dropdown-toggle btn-dropdown">
                    <img src="./assets/img/icon-login.png" class="avatar" alt="">
                    <span>lfc</span>
                </button>
                <div class="dropdown-menu">
                    <a href="#">Đăng xuất</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="modal fade popup popup-register" id="popup-register">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <a href="javascript:;" class="close" data-dismiss="modal"></a>
                <h5 class="title">Đăng ký</h5>
                <form action="" method="" class="form form-register">
                    <div class="form-group">
                        <input type="text" name="fullname" placeholder="Họ và tên" required>
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <input type="tel" name="phone" placeholder="Số điện thoại" maxlength="10" minlength="10" required>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" placeholder="Mật khẩu" required>
                    </div>
                    <button type="submit" class="btn btn_submit">Đăng ký</button>
                </form>
                <a href="" class="facebook flex-center">
                    <h5>Hoặc đăng ký tài khoản với</h5>
                    <i class="icon"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="modal fade popup popup-login" id="popup-login">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <a href="javascript:;" class="close" data-dismiss="modal"></a>
                <h5 class="title">Đăng nhập</h5>
                <form action="" method="" class="form form-register">
                    <div class="form-group">
                        <input type="text" name="email" placeholder="Email/SĐT" required>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" placeholder="Mật khẩu" required>
                    </div>
                    <button type="submit" class="btn btn_submit">Đăng nhập</button>
                </form>
                <a href="javascript:;" class="btn_register" data-toggle="modal" data-target="#popup-register" data-dismiss="modal">Đăng ký nếu chưa có tài khoản</a>
                <a href="" class="facebook flex-center">
                    <h5>Hoặc đăng nhập tài khoản với</h5>
                    <i class="icon"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="modal fade popup" id="popup-game1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <a href="javascript:;" class="close" data-dismiss="modal"></a>
                <div class="des">
                    Vui lòng nhập Email và số điện thoại để vào chơi
                    và nhận được những phần quà hấp dẫn
                </div>
                <form action="" method="" class="form form-register">
                    <div class="form-group">
                        <input type="text" name="email" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <input type="number" name="phone" placeholder="Số điện thoại" required>
                    </div>
                    <button type="submit" class="btn btn_submit">Vào chơi</button>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade popup" id="popup-game2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <a href="javascript:;" class="close" data-dismiss="modal"></a>
                <h5 class="title">Chúc mừng</h5>
                <article class="content">
                    <p>Bạn đã hoàn thành trò chơi với số điểm là</p>
                    <span class="point">100 điểm</span>
                    <p>Bạn <b>đã hết lượt chơi</b> trong tuần này</p>
                    <h6>Hẹn gặp lại vào tuần sau nhé!</h6>
                </article>
            </div>
        </div>
    </div>
    <div class="modal fade popup" id="popup-game3">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <a href="javascript:;" class="close" data-dismiss="modal"></a>
                <h5 class="title">Chúc mừng</h5>
                <article class="content">
                    <p>Bạn đã hoàn thành trò chơi với số điểm là</p>
                    <span class="point">100 điểm</span>
                    <p>Bạn còn <b>2 lượt chơi</b> trong tuần này</p>
                </article>
            </div>
        </div>
    </div>
</header>