<main>
    <section class="bangxephang">
        <h2 class="title">Bảng xếp hạng</h2>
        <div class="box-table">
            <table>
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Họ và tên</th>
                        <th>Điểm</th>
                        <th>Ngày chơi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>NGUYỄN VĂN A</td>
                        <td>100</td>
                        <td>10/12/2019</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>NGUYỄN VĂN A</td>
                        <td>100</td>
                        <td>10/12/2019</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>NGUYỄN VĂN A</td>
                        <td>100</td>
                        <td>10/12/2019</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>NGUYỄN VĂN A</td>
                        <td>100</td>
                        <td>10/12/2019</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>NGUYỄN VĂN A</td>
                        <td>100</td>
                        <td>10/12/2019</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>NGUYỄN VĂN A</td>
                        <td>100</td>
                        <td>10/12/2019</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>NGUYỄN VĂN A</td>
                        <td>100</td>
                        <td>10/12/2019</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>NGUYỄN VĂN A</td>
                        <td>100</td>
                        <td>10/12/2019</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>NGUYỄN VĂN A</td>
                        <td>100</td>
                        <td>10/12/2019</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>NGUYỄN VĂN A</td>
                        <td>100</td>
                        <td>10/12/2019</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#"><span class="icon icon-prev"></span></a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#"><span class="icon icon-next"></span></a></li>
        </ul>
    </section>
</main>