<main class="home">
    <section class="section1 flex">
        <div class="box-left pr">
            <div class="text">
                Hãy chơi co ba thông thái để nhận được nhiều phần quà hấp dẫn
            </div>
            <a href="https://thuclfc.gitlab.io/coba-demo/build/question.html" class="btn btn_play js-animation flipinx">Chơi ngay</a>
        </div>
        <div class="wrap_img">
            <img src="./assets/img/img2.png" alt="">
        </div>
    </section>
    <section class="section2">
        <div class="wrap_img flex">
            <div class="img1 js-animation bouncein">
                <img src="./assets/img/hopqua.png" alt="">
            </div>
            <div class="img2 js-animation fadeinright">
                <img src="./assets/img/99.png" alt="">
            </div>
        </div>
        <div class="text">
            <p>Hãy chơi game để nhận được những phần quà hấp dẫn</p>
        </div>
        <div class="box-btn">
            <a href="https://thuclfc.gitlab.io/coba-demo/build/question.html" class="btn btn_play js-animation flipinx">Chơi ngay</a>
        </div>
    </section>
    <section class="section3 flex">
        <div class="text js-animation fadeup">
            <p>Dầu đậu nành cao cấp COBA được làm từ những hạt đậu nành giàu dinh dưỡng đến từ Châu Mỹ, có hàm lượng Omega 3-6-9 cao giúp bảo vệ trái tim khỏe cho gia đình Việt.</p>
            <p class="slogan">Dầu đậu nành Coba - Trái tim khỏe cho mọi nhà</p>
        </div>
        <div class="wrap_img">
            <img src="./assets/img/img1.png" alt="">
        </div>
    </section>
</main>