<main>
    <section class="quiz quiz2 flex pr">
        <div class="point">
            <p>500 <span>điểm</span></p>
        </div>
        <div class="question question2">
            <div class="question_wrapper">
                <h4 class="question_title">Câu 2: Chọn hình ảnh</h4>
                <div class="question_content">
                    <div class="wrap_img">
                        <img src="./assets/img/img_question.png" alt="">
                    </div>
                    <div class="flex list_answer">
                        <label>
                            <div class="img_answer">
                                <img src="./assets/img/select4.png" alt="">
                            </div>
                            <input type="radio" name="question2">
                            <span class="checked"></span>
                        </label>
                        <label>
                            <div class="img_answer">
                                <img src="./assets/img/select3.png" alt="">
                            </div>
                            <input type="radio" name="question2">
                            <span class="checked"></span>
                        </label>
                        <label>
                            <div class="img_answer">
                                <img src="./assets/img/select2.png" alt="">
                            </div>
                            <input type="radio" name="question2">
                            <span class="checked"></span>
                        </label>
                        <label>
                            <div class="img_answer">
                                <img src="./assets/img/select1.png" alt="">
                            </div>
                            <input type="radio" name="question2">
                            <span class="checked"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="box-btn">
                <a href="" class="btn btn_send">Gửi</a>
            </div>
        </div>
        <div class="time flex-center">
            <span>10</span>
        </div>
        <a href="javascript:;" class="btn_next">Tiếp theo</a>
    </section>
</main>