<main>
    <section class="quiz flex pr">
        <div class="point">
            <p>500 <span>điểm</span></p>
        </div>
        <div class="question">
            <div class="question_wrapper">
                <h4 class="question_title">Câu 1: Điểm đặc biệt trong công nghệ sản xuất của <span>Dầu đậu nành Coba</span> là gì ?</h4>
                <div class="question_content">
                    <div class="list_answer">
                        <label>
                            <input type="radio" name="question1">
                            <span class="checked"></span>
                            <p>Chọn lọc từ những hạt đậu nành tốt nhất từ Châu Mỹ</p>
                        </label>
                        <label>
                            <input type="radio" name="question1">
                            <span class="checked"></span>
                            <p>Sản xuất khép kín trên dây chuyền chiết xuất – tinh luyện công nghệ Châu Âu hiện đại.</p>
                        </label>
                        <label>
                            <input type="radio" name="question1">
                            <span class="checked"></span>
                            <p>Ứng dụng công nghệ NANO, đem đến sản phẩm hoàn toàn tự nhiên nguyên chất.</p>
                        </label>
                        <label>
                            <input type="radio" name="question1">
                            <span class="checked"></span>
                            <p>Cả 3 đáp án trên.</p>
                        </label>
                    </div>
                </div>
            </div>
            <div class="box-btn">
                <a href="" class="btn btn_send">Gửi</a>
            </div>
        </div>
        <div class="time flex-center">
            <span>10</span>
        </div>
        <a href="https://thuclfc.gitlab.io/coba-demo/build/question2.html" class="btn_next">Tiếp theo</a>
    </section>
</main>