:root{
  --green: #007500;
  --red: #e20a0a;
  --size50: 50px;
  --size45: 45px;
  --size35: 35px;
  --size28: 28px;
  --size26: 26px;
}

@font-face {
  font-family: SVNFourthRegular;
  src: url("#{$font-path}/SVNFourthRegular.ttf");
}

@font-face {
  font-family: SVN-FourthBold;
  src: url("#{$font-path}/SVN-FourthBold.ttf");
}

body{
  font-family: 'Muli', sans-serif;
  background: url("#{$img-path}/bg-re.jpg") no-repeat left center/cover;
  line-height: 1.5;
  overflow-x: hidden;
}
.wrap_home{
  width: 100%;
}
.navbar{
  height: vw(80px);
  padding: 0;
  background: rgba(#fff,.8);
  justify-content: center;
  font-weight: 600; font-size: vw(26px);
  z-index: 9;
  a{color: var(--green);}
  .btn_rule,.btn_bxh{
    height: vw(50px); padding: 0 15px; border-radius: 16px; transition: background .25s;
    &:hover{background: var(--green);  color: #fff;}
  }
  .logo{max-width: vw(135px); display: block; margin: 0 vw(108px) 0 vw(130px);}
  .user{
    position: absolute; right: vw(100px); top: 55%; transform: translateY(-50%);
    .btn-select{
      width: vw(53px); height: vw(53px);
      background: url("#{$img-path}/icon-login.png") no-repeat 0 0/contain;
      cursor: pointer;
      &:after{
        content: "";
        border-style: solid;
        border-width: 8px;
        border-color: var(--green) transparent transparent transparent;
        position: absolute; top: 50%; transform: translateY(-50%); right: -25px;
      }
    }
    .btn-dropdown{
      display: flex; align-items: center;
      background: none;
      img{width: vw(53px); height: vw(53px); object-fit: cover; border-radius: 50%;}
      &:after{border-top: .3em solid var(--green);}
    }
    span{padding-left: 10px; color: var(--green); font-size: 18px;}
  }
  .dropdown-menu{
    width: 136px;
    padding: 0;
    border-radius: 14.4px;
    border: solid 1px var(--green);
    position: absolute; left: 50%; transform: translateX(-50%);
    overflow: hidden;
    a{display: block; padding: 9px 0; text-align: center; font-size: 18px; text-transform: uppercase;}
    a:first-child{border-radius: 14.4px 14.4px 0 0;}
    a:last-child{border-radius: 0 0 14.4px 14.4px;}
    a:hover{background: var(--green); color: #fff;}
    >*+*{border-top: 1px solid var(--green);}
  }
}
.loading{
  width: 100%; height: 100%;
  position: fixed; top: 0; left: 0;
  background: #fff url("#{$img-path}/loading.gif") no-repeat center center;
  z-index: 9999;
}
main{
  width: 100%;
  margin-top: vw(-122px);
  padding-top: vw(120px);
  min-height: vw(1180px);
  background: url("#{$img-path}/bg_flower.png") no-repeat 0 0/100%;
  &.home{min-height: vw(2972px); background: url("#{$img-path}/bg_home.jpg") no-repeat 0 0/cover;}
  &.quiz_rule{background: url("#{$img-path}/bg_rule.png") no-repeat 0 0/100%; padding-bottom: vw(200px);}
  &.bxh{background: url("#{$img-path}/bg_bxh.jpg") no-repeat 0 0/100%;}
}
.section1{
  height: vw(960px);
  padding: vw(105px) vw(24px) 0;
  justify-content: space-between;
  .text{
    width: vw(930px); height: vw(557px);
    display: block; margin: vw(65px) 0 0 vw(113px);
    text-indent: -9999em;
    background: url("#{$img-path}/text.png") no-repeat 0 0/contain;
  }
  .box-left{width: vw(1000px);}
  .wrap_img{max-width: vw(842px);}
  .box-btn{
    width: calc(100% - 44.85vw);
    .btn_register{
      width: vw(460px); margin: vw(-15px) 0 0 vw(360px); display: block;
      text-align: center; color: #c00; font-size: 18px; position: relative; z-index: 9;
      &:hover{text-decoration: underline;}
    }
  }
  .btn_play{margin: vw(10px) 0 0 vw(320px);}
}
.section2{
  padding-top: vw(100px);
  .wrap_img{
    padding-left: vw(233px);
    .img1{max-width: vw(860px);}
    .img2{max-width: vw(659px); margin: vw(178px) 0 0 vw(-50px); animation-delay: .5s; animation-duration: 1s;}
  }
  .text{
    display: block; margin-top: vw(40px); text-align: center;
    color: var(--red); font: vw(50px) SVNFourthRegular, sans-serif;
  }
  .btn_play{margin: vw(30px) auto 0;}
}
.section3{
  margin-top: vw(167px);
  align-items: center;
  .wrap_img{max-width: vw(932px);}
  .text{
    width: calc(100% - 48.5417vw);
    padding: 0 vw(60px) 0 vw(90px);
    font-family: SVNFourthRegular, sans-serif;
    color: #fff; font-size: vw(50px); line-height: initial;
    .slogan{margin-top: vw(20px); font-size: vw(45px); color: var(--red);}
  }
}
.quiz{
  margin: vw(70px) 0;
  padding: 0 vw(40px) 0 vw(94px);
  flex-wrap: nowrap;
  .point{
    width: vw(249px); height: vw(248px);
    margin-top: vw(22px);
    padding-top: vw(80px);
    background: url("#{$img-path}/diem.png") no-repeat 0 0/contain;
    color: #fff; text-align: center; font-weight: 800; font-size: vw(90px);
    p{line-height: vw(66px);}
    span{display: block; margin-top: vw(10px); font-weight: 700; font-size: vw(30px); text-transform: uppercase;}
  }
  .time{
    width: vw(204px); height: vw(195px);
    margin-top: vw(10px);
    background: url("#{$img-path}/clock.png") no-repeat 0 0/contain;
    span{
      font-weight: 700; color: #fff; font-size: vw(60px);
      text-shadow:
      -1px -1px 0 #c127cd,
      1px -1px 0 #c127cd,
      -1px 1px 0 #c127cd,
      1px 1px 0 #c127cd;
    }
  }
  .question{
    width: 100%;
    max-width: vw(1150px);
    margin: 0 vw(125px) 0 vw(39px);
    &_wrapper{
      width: 100%;
      padding: vw(40px);
      border: 6px solid rgba(#000,.8);
      background: rgba(#fff,.7);
      border-radius: vw(40px);
    }
    &_content{margin-top: vw(50px);}
    h4{max-width: vw(775px); margin: 0 auto; font: vw(45px) SVNFourthRegular, sans-serif; line-height: vw(54px); text-align: center;}
    h4 span{color: var(--green);}
    p{flex: 1;}
    input[type="radio"]{
      width: vw(54px); height: vw(54px);
      position: absolute;
      opacity: 0; visibility: hidden;
      &:checked + span{background: var(--green) url("#{$img-path}/tick.png") no-repeat center center/contain;}
    }
    .checked{
      width: vw(54px); height: vw(54px); display: block;
      margin-right: vw(33px);
      background: #fff;
      border-radius: 50%; border: 3px solid var(--green);
    }
    label{display: flex; align-items: center; margin: vw(20px) 0; font-size: vw(30px);}
  }
  .question2{
    .question_wrapper{padding: vw(20px) vw(40px);}
    h4{font-size: vw(40px);}
    .list_answer{
      justify-content: center;
      label:last-child,label:first-child{
        .checked{margin-left: vw(15px);}
      }
    }
    .question_content{margin-top: 15px;}
    .wrap_img{
      max-width: vw(468px); height: vw(320px); margin: 0 auto vw(15px);
      img{width: 100%; height: 100%; object-fit: cover;}
    }
    label{display: block; margin: 0 vw(40px);}
    .checked{width: vw(40px); height: vw(40px); margin: vw(15px) 0 0 vw(0px);}
    .img_answer{
      display: flex; height: vw(140px);
      align-items: flex-end;
      img{max-height: 100%; display: block; margin: 0 auto;}
    }
  }
  .btn_next{
    width: vw(243px); height: vw(173px);
    display: none;
    background: url("#{$img-path}/next.png") no-repeat 0 0/contain;
    text-indent: -9999em;
    position: absolute; top: 60%; transform: translateY(-50%); right: vw(25px);
    &:hover{-webkit-filter: saturate(1.8); filter: saturate(1.8);}
  }
  .btn_send{width: vw(350px); margin: 0 auto; background: url("#{$img-path}/btn1.png") no-repeat 0 0/100% 100%;}
}
.bangxephang,.rule{
  .title{
    display: block;
    margin-bottom: vw(40px);
    font: vw(84px) SVN-FourthBold, sans-serif;
    color: var(--red); text-align: center;
  }
}
.bangxephang{
  padding: vw(110px) 0;
  margin: 0 auto;
  max-width: vw(1327px);
  .box-table{
    width: 100%;
    border-collapse: collapse;
    border: vw(35px) solid var(--red);
    border-radius: 20px;
    box-shadow: 2px 5px 25px #212121;
  }
  table{
    width: 100%;
    thead{
      th{padding: vw(22px) 5px; background: #f2983a; font-weight: 800; color: var(--green);}
    }
    tbody{
      td{padding: vw(8px) 0; font-weight: 600;}
      tr:nth-child(even){background: #fff064;}
      tr:nth-child(odd){background: #fff;}
    }
    tr > *+*{border-left: 2px solid #181818;}
    th,td{text-align: center; font-size: vw(30px);  text-transform: uppercase;}
  }
}
.rule{
  margin-top: vw(45px);
  &_detail{
    width: calc(100% - 30px);
    max-width: vw(1700px);
    margin: vw(695px) auto 0;
    border: 2px solid #4a3f0c;
    border-radius: 20px;
    background: rgba(#fff,.7);
  }
  .box-btn{margin-top: vw(40px); justify-content: center;}
  p{padding-left: vw(68px); font-size: vw(30px); font-style: italic; position: relative;}
  p:before{
    content: "";
    width: vw(38px); height: vw(36px);
    position: absolute; left: 0; top: vw(12px);
    background: url("#{$img-path}/flower2.png") no-repeat 0 0/100%;
  }
  article{padding: vw(50px);}
}
.pagination{
  justify-content: center; margin-top: vw(85px);
  .page-item{
    margin: 0 vw(25px);
    &:first-child,&:last-child{
      .page-link{background: none;}
    }
    &:first-child{margin-right: 0;}
    &:last-child{margin-left: 0;}
    &.active .page-link{background: var(--green); color: #fff;}
  }
  .page-link{
    width: vw(48px); height: vw(48px);
    display: flex; align-items: center; justify-content: center;
    padding: 0; border: none;
    background: #fff; border-radius: 50%; color: var(--green);
    font-size: vw(33px); font-weight: 700;
  }
  .icon{
    width: vw(28px); height: vw(28px); display: block;
    background: url("#{$img-path}/next1.png") no-repeat 0 0/contain;
  }
  .icon-prev{transform: rotate(180deg);}
}
.popup{
  .modal-dialog{width: 94%; max-width: vw(1050px);}
  .modal-content{
    width: 100%; min-height: vw(627px);
    margin: 0 auto;
    padding: vw(45px) 0 vw(42px);
    background: url("#{$img-path}/popup.png") no-repeat 0 0/contain;
    border: none;
  }
  .close{
    width: vw(73px); height: vw(73px);
    background: url("#{$img-path}/close.png") no-repeat 0 0/contain;
    position: absolute; top: vw(48px); right: vw(48px); opacity: .9;
  }
  .title{
    display: block;
    margin-bottom: vw(25px);
    text-align: center;
    font: vw(67px) SVN-FourthBold, sans-serif;
    color: var(--green);
  }
  .des{
    max-width: vw(685px);
    margin: vw(90px) auto vw(35px);
    font: vw(35px) SVN-FourthBold, sans-serif;
    color: var(--green); text-align: center;
    line-height: vw(46px);
  }
  .content{
    text-align: center;
    >*+*{margin-top: 0;}
    p{font-size: vw(40px); font-weight: 600;}
    b{color: var(--green); font-weight: 700; font-style: italic;}
    h6,.point{font-family: SVN-FourthBold, sans-serif; color: var(--red);}
    .point{display: block; margin-bottom: vw(20px); font-size: vw(67px);}
    h6{margin: vw(10px) 0 0; font-size: vw(40px);}
  }
  .facebook{
    margin-top: vw(12px);
    font-size: vw(29px); font-weight: 300;
    color: #000;
    h5{margin-bottom: 0;}
    .icon{
      width: vw(83px); height: vw(83px);
      margin-left: vw(29px); background: url("#{$img-path}/facebook.png") no-repeat 0 0/contain;
    }
  }
  .form-group{max-width: vw(675px); margin: 0 auto vw(27px);}
  input{
    width: 100%; height: vw(78px);
    padding: 0 vw(26px);
    background: rgba(#fff,.7);
    border-radius: 15px;
    border: vw(5px) solid #004420;
    font-size: vw(32px); font-weight: 300;
    &:focus{outline: none;}
  }
  input::placeholder{color: #000;}
  .btn_submit{font-size: vw(29px);}
  .btn_register{
    text-align: center;
    color: #c00;
    margin: -5px 0 10px;
    position: relative; z-index: 9;
    &:hover{text-decoration: underline;}
  }
}
.popup-register{
  .modal-content{min-height: vw(800px); background: url("#{$img-path}/popup-dk.png") no-repeat 0 0/contain;}
}
#popup-game2,#popup-game3{
  .modal-content{
    padding-top: vw(100px);
  }
  .title{margin-bottom: vw(35px);}
}
footer{
  width: 100%; min-height: vw(320px);
  padding: vw(55px) vw(200px);
  background: url("#{$img-path}/footer.jpg") no-repeat 0 0/cover;
  color: var(--green);
  a{color: var(--green);}
  h4{margin-bottom: vw(30px); font-weight: 700; font-size: vw(35px); text-transform: uppercase;}
  p{margin-bottom: 0; font-size: vw(28px);}
  .logo{max-width: vw(364px); margin-left: vw(90px);}
}

//uikit
a{transition: .3s;}
a:hover{text-decoration: none;}
.btn{
  display: block;
  height: vw(145px);
  padding: 0 vw(67px);
  text-align: center;
  background: url("#{$img-path}/btn.png") no-repeat 0 0/100% 100%;
  color: #fff; text-transform: uppercase;
  font-weight: 800; font-size: vw(51px); line-height: vw(145px);
  position: relative;
  &:hover{
    color: #e8d51f;
    &:before,&:after{transform: translateY(-50%) rotate(180deg);}
  }
  &:before,&:after{
    content: "";
    width: vw(46px); height: vw(44px);
    background: url("#{$img-path}/flower1.png") no-repeat 0 0/contain;
    position: absolute; top: 50%; transform: translateY(-50%);
    transition: transform .6s linear;
  }
  &:before{left: vw(47px);}
  &:after{right: vw(47px);}
  &:focus{outline: none; box-shadow: none;}
}
.btn_play{width: vw(519px);}
.btn_submit{
  width: auto; height: vw(91px); line-height: vw(91px);
  padding: 0 vw(75px);
  margin: 0 auto;
  &:before,&:after{width: vw(26px); height: vw(25px);}
  &:before{left: vw(36px);}
  &:after{right: vw(36px);}
}
button{
  border: none; cursor: pointer;
  &:focus{outline: none;}
}

@media (max-width: 1024px) {
  .navbar{
    height: 55px;
    font-size: 20px;
    .user{
      .btn-select{width: 25px; height: 25px;}
      .btn-select:after{border-width: 5px; right: -12px;}
      .btn-dropdown{
        img{width: 25px; height: 25px;}
      }
      &_logged{margin-right: -20px;}
      span{display: none;}
    }
    .dropdown-menu{
      min-width: 140px;
      left: -100px; transform: translateX(0);
      a{padding: 5px 0; font-size: 14px;}
    }
    .btn_rule,.btn_bxh{height: auto; width: auto; padding: 3px 8px; font-weight: 700;}
  }
  main,main.home{min-height: calc(100vh - 135px);}
  .quiz{
    .question .checked {
      border-width: 2px;
    }
    .question2 .wrap_img{height: auto;}
  }
}

@media (max-width: 760px) {
  .navbar{
    height: 45px;
    padding-right: 30px;
    font-size: 13px;
    .logo{max-width: 68px; margin: 0 vwm(40px);}
    .btn_login{
      width: 25px; height: 25px; right: 15px;
    }
  }
  main{
    margin-top: -25px; padding-top: 45px;
    &.quiz_rule{margin-top: 0; padding-top: 10px;}
  }
  .section1{
    .btn_play{margin: vw(10px) 0 0 vw(260px);}
  }
  .section2{
    padding-top: vwm(80px);
    .text{font-size: vwm(30px);}
  }
  .section3{
    .wrap_img{max-width: vw(850px);}
    .text{
      width: calc(100% - 44.271vw);
      padding: 0 15px;
      font-size: vwm(26px);
      .slogan{font-size: vwm(22px);}
    }
  }
  .rule{
    p{font-size: 12px;}
  }
  .popup{
    .modal-dialog{max-width: 100%;}
    .modal-content{max-width: 480px; padding: 20px 0; background-size: 100% 100%;}
    .title{margin-bottom: 15px; font-size: 30px;}
    .des{max-width: 70%; font-size: 16px; line-height: initial;}
    .content{
      padding: 0 20px;
      p{font-size: 16px;}
      h6{font-size: 14px;}
      .point{font-size: 26px;}
    }
    .close{width: 30px; height: 30px; right: 15px; top: 15px;}
    .form-group{max-width: 70%; margin-bottom: 12px;}
    input{height: 35px; padding: 0 15px; border-radius: 10px; border-width: 2px; font-size: 16px;}
    .facebook{
      h5{font-size: 16px;}
      .icon{width: 24px; height: 24px;}
    }
    .btn_submit{
      font-size: 16px; height: 50px;  padding: 0 40px; line-height: 50px;
      &:before,&:after{width: 16px; height: 15px;}
      &:before{left: 16px;}
      &:after{right: 16px;}
    }
    .btn_register{font-size: 13px;}
  }
  .bangxephang,.rule{
    .title{font-size: 26px;}
  }
  .bangxephang{
    max-width: 90%;
    padding-bottom: 100px;
    .box-table{border-radius: 10px;}
    table{
      td,th{font-size: 12px;}
      tr > * + * {
        border-width: 1px;
      }
      thead{
        th{padding: 10px 5px;}
      }
      tbody{
        td{padding: 5px;}
      }
    }
    .title{margin-bottom: 20px;}
  }
  .quiz{
    margin: vwm(100px) 0;
    padding: 0 10px;
    flex-wrap: wrap;
    justify-content: flex-end;
    .question{
      max-width: calc(100% - 18%);
      margin-right: 0;
      &_wrapper{
        max-width: 100%;
        margin: 0;
        border-width: 3px;
      }
      h4{max-width: 100%; font-size: vwm(36px); line-height: initial;}
      label{margin: 10px 0; font-size: vwm(26px);}
      .checked{width: 20px; height: 20px; border-width: 2px;}
    }
    .question2{
      max-width: 100%;
      margin: 0 auto;
      label{margin: 2%; width: 30%;}
      .question_wrapper{padding: 10px;}
      .img_answer{height: vwm(140px); padding: 5px; border: 1px solid var(--green); margin-bottom: vwm(5px);}
      .wrap_img{margin-bottom: 10px; max-width: 65%;}
    }
    .point{
      width: vwm(120px); height: vwm(120px);
      padding-top: vwm(40px);
      font-size: vwm(40px);
      position: absolute;  left: vwm(20px);
      span{margin-top: vwm(15px); font-size: vwm(16px);}
    }
    .time{
      width: vwm(100px); height: vwm(96px);
      position: absolute; top: vwm(150px); left: vwm(30px);
      span{font-size: vwm(28px);}
    }
    .btn_next{width: vwm(140px); height: vwm(100px); top: 45%; right: 0; left: vwm(5px); transform: translateY(0);}
    .btn_send{width: vwm(220px); height: vwm(90px); line-height: vwm(90px); margin-top: 10px;}
  }
  .quiz2{
    margin: vwm(140px) 0;
    .point{top: vwm(-145px); left: 34%;}
    .time{top: vwm(-130px); left: 54%;}
    .btn_next{top: vwm(-120px); right: vwm(15px); left: initial;}
  }
  .pagination{
    justify-content: center; margin-top: vw(85px);
    .page-item{
      margin: 0 vwm(15px);
      &:first-child,&:last-child{
        .page-link{background: none;}
      }
      &:first-child{margin-right: 0;}
      &:last-child{margin-left: 0;}
      &.active .page-link{background: var(--green); color: #fff;}
    }
    .page-link{
      width: vwm(45px); height: vwm(45px);
      display: flex; align-items: center; justify-content: center;
      padding: 0; border: none;
      background: #fff; border-radius: 50%; color: var(--green);
      font-size: vwm(20px); font-weight: 700;
    }
    .icon{
      width: vwm(20px); height: vwm(20px); display: block;
      background: url("#{$img-path}/next1.png") no-repeat 0 0/contain;
    }
    .icon-prev{transform: rotate(180deg);}
  }
  #popup-game2,#popup-game3{
    .modal-content{max-width: 430px;}
  }
  //uikit
  .btn{
    height: vwm(80px); line-height: vwm(80px);
    &:before{left: vw(67px);}
    &:after{right: vw(67px);}
  }
  .btn_play{width: vwm(250px);}

  footer{
    padding: vwm(40px) 10px;
    .info{width: calc(100% - 22.844%);}
    .logo{max-width: vwm(160px); margin-left: 0;}
    h4{margin-bottom: 15px; font-size: vwm(27px);}
    p{font-size: vwm(22px);}
  }
}
@media (orientation: landscape) and (max-width: 1200px) {
  .quiz{
    .btn_next{top: 50%;}
    .question{
      h4{font-size: 26px;}
      label{margin: 20px 0; font-size: 18px;}
    }
    .question2  label{margin: 2%;}
  }
  .quiz2{
    .btn_next{top: vwm(-120px);}
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .section1{
    .box-btn{
      .btn_register{font-size: 12px;}
    }
  }
  .quiz{
    .point{
      width: 100px; height: 100px; padding-top: 30px; font-size: 30px;
      p{line-height: initial;}
      span{margin-top: 0; font-size: 15px;}
    }
    .question label{margin: 25px 0;}
    .question2  label{margin: 0 25px;}
    time{width: 82px; height: 78px;}
  }
}


//js animation
.js-animation{
  animation-duration: 1s;
  animation-fill-mode: both;
  opacity: 0; visibility: hidden;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

@-webkit-keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}
@-webkit-keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}
